@model Product.DomainObjects.Models.MaterialModel

@{
    ViewBag.Title = "Material";
}

<h2>@Model.Name</h2>

<div>
    ID: $@Model.MaterialId
</div>
<div>
    Cost: $@Model.Cost
</div>
<p>
    @*<button class="btn btn-warning">Merge</button>*@
    @Html.ActionLink("Merge", "Merge", new { id = Model.MaterialId }, new { @class = "btn btn-warning" })
    Please implement a Merge functionality from here.
</p>
